@use "../../../../../public/stylesGlobal/colors.scss";

#container {
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
    background-color: colors.$white-background;
  width: 13vw;
  -webkit-box-shadow: -10px 0px 10px 0px rgba(153, 153, 153, 0.9);
  -moz-box-shadow: -10px 0px 10px 0px rgba(153, 153, 153, 0.9);
  box-shadow: -10px 0px 10px 0px rgba(153, 153, 153, 0.9);
}

#nombre-app {
  display: flex;
  align-items: center;
  background-color: colors.$secondary;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(153, 153, 153, 0.9);
  -moz-box-shadow: 0px 10px 10px 0px rgba(153, 153, 153, 0.9);
  box-shadow: 0px 10px 10px 0px rgba(153, 153, 153, 0.9);
}
#logo-gif {
  height: 88x;
  width: 88px;
  margin: 0 0.3rem;
}

#logo-title {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  font-weight: bolder;
  font-style: italic;
  
}

.option {
  display: flex;
  align-items: center;
  margin: 1rem 1rem;
  a {
    font-size: 16;
    text-decoration: none;
  }
}

fa-icon {
  font-size: 24px; /* Ajusta el tamaño del icono según sea necesario */
  width: 40px; /* Ancho fijo para los iconos */
  height: 40px; /* Alto fijo para los iconos */
  display: flex;
  align-items: center;
  justify-content: center;
}

#exit-option {
  margin-top: auto;
}
