@use "../../../../../public/stylesGlobal/colors.scss";

.profile-card {
  margin: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 450px;
  text-align: center;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0px 0px 10px 3px rgb(140, 211, 47);
  -moz-box-shadow: 0px 0px 10px 3px rgb(140, 211, 47);
  box-shadow: 0px 0px 10px 3px rgb(140, 211, 47);
}

.profile-card:hover {
  transform: translateY(-10px);
  -webkit-box-shadow: 0px 0px 20px 10px rgb(192, 255, 109);
  -moz-box-shadow: 0px 0px 20px 10px rgb(192, 255, 109);
  box-shadow: 0px 0px 20px 10px rgb(192, 255, 109);
}

.profile-header {
  width: 100%;
  height: 120px;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0px 10px 15px 0px rgba(176, 176, 176, 1);
  -moz-box-shadow: 0px 10px 15px 0px rgba(176, 176, 176, 1);
  box-shadow: 0px 10px 15px 0px rgba(176, 176, 176, 1);
}

.profile-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-picture {
  position: relative;
  top: -50px;
}

.profile-picture img {
  border-radius: 50%;
  border: 5px solid colors.$white-background;
  width: 100px;
  height: 100px;
  border: 3px solid colors.$tertiary;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(192, 255, 109, 1);
  -moz-box-shadow: 0px 0px 10px 3px rgba(192, 255, 109, 1);
  box-shadow: 0px 0px 10px 3px rgba(192, 255, 109, 1);
}

.profile-info {
  top: -50px;
  margin: 0;
}

.profile-info h3 {
  margin: 0;
  font-size: 1.2rem;
  color: colors.$normal-text;
}

.profile-info span {
  font-weight: normal;
  color: colors.$secondary-text;
}

.profile-info p {
  margin: 5px 0;
  color: colors.$secondary-text;
}

.profile-stats {
  gap: 0;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  border-top: 1px solid colors.$white-background;
}

.profile-stats div {
  text-align: center;
}

.profile-stats h4 {
  margin: 0;
  font-size: 1rem;
  color: colors.$normal-text;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-stats p {
  margin: 5px 0 0;
  font-size: 0.8rem;
  color: colors.$secondary-text;
}

.secondary {
  background-color: colors.$secondary;
  color: colors.$normal-text;
  padding: 10px 15px;
  border: none;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 55px;
  margin-bottom: 1rem;

  -webkit-box-shadow: 0px 0px 2px 4px rgb(192, 255, 109);
  -moz-box-shadow: 0px 0px 2px 4px rgb(192, 255, 109);
  box-shadow: 0px 0px 2px 4px rgb(192, 255, 109);
  cursor: pointer;
}

.secondary:hover {
  background-color: colors.$tertiary;
}

.primary {
  background-color: colors.$white-background;
  color: colors.$dark-green-text;
  padding: 10px 15px;
  border: 4px solid colors.$secondary;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 55px;

  margin-bottom: 1rem;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px 3px rgb(140, 211, 47);
  -moz-box-shadow: 0px 0px 10px 3px rgb(140, 211, 47);
  box-shadow: 0px 0px 10px 3px rgb(140, 211, 47);
  margin-right: 1rem;
}

.primary:hover {
  background-color: colors.$secondary;
  -webkit-box-shadow: 0px 0px 0px 3px rgb(140, 211, 47);
  -moz-box-shadow: 0px 0px 0px 3px rgb(140, 211, 47);
  box-shadow: 0px 0px 0px 3px rgb(140, 211, 47);
  color: colors.$normal-text;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: colors.$normal-text;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: fadeIn 0.5s forwards; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}

.modal-content-follow,
.modal-content-details {
  background-color:colors.$white-background;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  position: relative;
  -webkit-box-shadow: 0px 0px 10px 10px rgb(140, 211, 47);
  -moz-box-shadow: 0px 0px 10px 10px rgb(140, 211, 47);
  box-shadow: 0px 0px 20px 20px rgb(140, 211, 47);
  animation: slideInUp 0.5s forwards; 
}

.profile-picture-modal {
  position: relative;
}

.profile-picture-modal img {
  border-radius: 50%;
  border: 5px solid colors.$white-background;
  width: 100px;
  height: 100px;
  border: 3px solid colors.$tertiary;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(192, 255, 109, 1);
  -moz-box-shadow: 0px 0px 10px 3px rgba(192, 255, 109, 1);
  box-shadow: 0px 0px 10px 3px rgba(192, 255, 109, 1);
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 1.5rem;
}

#follow-fa-icon {
  color: #96d443;
  font-size: 6rem;
}

#modal-p {
  font-size: 1rem;
  font-style: italic;
  font-weight: 500;
}

#content-modal-details {
  margin-bottom: 1rem;
}
