<div class="container">
  <div class="profile-card">
    <div class="profile-header">
      <img
        [src]="
          'https://random.danielpetrica.com/api/random?format=small&' +
          getRandomNumber()
        "
        alt="Header Image"
      />
    </div>
    <div class="profile-picture">
      <img [src]="personaje().image" alt="Profile Picture" />
    </div>
    <div class="profile-info">
      <h3>{{ personaje().name }}</h3>
      <p>{{ personaje().gender }} / {{ personaje().species }}</p>
      <p>{{ personaje().location.name }}</p>
    </div>
    <div class="profile-stats">
      <div>
        <h4>{{ followers }}</h4>
        <p>Seguidores</p>
      </div>
      <div>
        <h4>{{ likes }}</h4>
        <p>Likes</p>
      </div>
      <div>
        <h4>{{ posts }}</h4>
        <p>Posts</p>
      </div>
    </div>
    <div class="buttons">
      <button class="primary" (click)="followUser()">Seguir</button>
      <button class="secondary" (click)="viewDetails()">Ver Perfil</button>
    </div>
  </div>
</div>

<div class="modal" *ngIf="showFollowModal">
  <div class="modal-content-follow">
    <span class="close" (click)="closeModal()">&times;</span>
    <fa-icon id="follow-fa-icon" [icon]="faCircleCheck"></fa-icon>

    <p id="modal-p">Estás siguiendo a {{ personaje().name }} con éxito.</p>
  </div>
</div>

<div class="modal" *ngIf="showDetailsModal">
  <div class="modal-content-details">
    <div id="content-modal-details">

      <span class="close" (click)="closeModal()">&times;</span>
      <h3>Detalles del Usuario</h3>
      <div class="profile-picture-modal">
        <img [src]="personaje().image" alt="ProfilePicture" />
      </div>
      <p><strong>Nombre:</strong> {{ personaje().name }}</p>
      <p><strong>Origen:</strong> {{ personaje().origin.name }}</p>
  
      <p><strong>Género:</strong> {{ personaje().gender }}</p>
      <p><strong>Especie:</strong> {{ personaje().species }}</p>
      <p><strong>Tipo:</strong> {{ personaje().type }}</p>
      <p><strong>Ubicación:</strong> {{ personaje().location.name }}</p>
      <p>
        <strong>Usuario desde:</strong>
        {{ truncateText(String(personaje().created), 10) }}
      </p>
      <a [routerLink]="['/home/personaje/', personaje().id]"
        ><strong
          >Pagina Personal
          <fa-icon [icon]="faLink"></fa-icon>
        </strong>
      </a>
    </div>
    <div class="profile-stats">
      <div>
        <h4>{{ followers }}</h4>
        <p>Seguidores</p>
      </div>
      <div>
        <h4>{{ likes }}</h4>
        <p>Likes</p>
      </div>
      <div>
        <h4>{{ posts }}</h4>
        <p>Posts</p>
      </div>
    </div>
  </div>
</div>
