<div id="container">
  <h1>Recuperar Contraseña</h1>
  <form [formGroup]="loginForm" id="login-form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input
        type="text"
        id="password"
        password="password"
        placeholder="Ingrese la nueva contraseña"
        formControlName="password"
        required
      />
      <span class="icon"><i class="fas fa-user"></i></span>
    </div>
    <div class="form-group">
      <input
        type="text"
        id="newPassword"
        name="newPassword"
        placeholder="Confirme la Nueva Contraseña"
        formControlName="newPassword"
        required
      />
      <span class="icon"><i class="fas fa-lock"></i></span>
    </div>

    <button type="submit" class="btn" [disabled]="loginForm.invalid">
      Confirmar
    </button>
    <p class="register-link">
      ¿Ya tienes Cuenta? <a [routerLink]="['/login']">Inicia Sesión</a>
    </p>
  </form>
</div>
