<div id="container">
  <div class="header-perfil">
    <img [src]="personajeDetailState.personaje()?.image" alt="Foto-Perfil-Usuario" class="profile-picture" />
    <div class="profile-data">
      <h1 class="profile-name">{{ personajeDetailState.personaje()?.name }}</h1>
      <h1 class="user-name">
        &#64;{{ personajeDetailState.personaje()?.name }}
      </h1>
    </div>

    <div class="profile-stats">
      <div class="stat-item">
        <p class="stat-number">{{ posts }}</p>
        <p class="stat-label">Posts</p>
      </div>
      <div class="stat-item">
        <p class="stat-number">{{ followers }}</p>
        <p class="stat-label">Seguidores</p>
      </div>
      <div class="stat-item">
        <p class="stat-number">{{ likes }}</p>
        <p class="stat-label">Likes</p>
      </div>
    </div>
  </div>
  <button id="show-details-button" (click)="toggleDetalles()">
    {{ detallesVisible ? "Ocultar Detalles" : "Mostrar Detalles" }}
  </button>
  <div *ngIf="detallesVisible" class="cuerpo-descripcion">
    <div class="detalles">
        
      
      <div class="detalle-item">
        <p class="p-label">Creación de la Cuenta:</p>
        <p class="detalle-descripcion">
          {{truncateText(String(personajeDetailState.personaje()?.created), 10) }}
        </p>
      </div>
      <div class="detalle-item">
        <p class="p-label">Origen:</p>
        <p class="detalle-descripcion">{{personajeDetailState.personaje()?.origin?.name}}</p>
      </div>
      <div class="detalle-item">
        <p class="p-label">Especie:</p>
        <p class="detalle-descripcion">{{personajeDetailState.personaje()?.species}}</p>
      </div>
      <div class="detalle-item">
        <p class="p-label">Género:</p>
        <p class="detalle-descripcion">{{personajeDetailState.personaje()?.gender}}</p>
      </div>
      <div class="detalle-item">
        <p class="p-label">Reside en:</p>
        <p class="detalle-descripcion">{{personajeDetailState.personaje()?.location?.name}}</p>
      </div>
    </div>
  </div>
  <h3><fa-icon id="icon-post" [icon]="faCommentDots"> </fa-icon> Sobre Mi:</h3>

  <p id="descripcion">"{{personajeDetailState.personaje()?.name}} / {{personajeDetailState.personaje()?.species}} / {{personajeDetailState.personaje()?.location?.name}} "</p>
  <h3><fa-icon id="icon-post" [icon]="faCameraRetro"> </fa-icon> Publicaciones</h3>

  <div id="image-container">
    <div class="grid-container">
      <div class="grid-item">
        <img
          src="https://random.danielpetrica.com/api/random?size=small&1"
          alt="Image 1"
        />
      </div>
      <div class="grid-item">
        <img
          src="https://random.danielpetrica.com/api/random?size=small&2"
          alt="Image 2"
        />
      </div>
      <div class="grid-item">
        <img
          src="https://random.danielpetrica.com/api/random?size=small&3"
          alt="Image 3"
        />
      </div>
      <div class="grid-item">
        <img
          src="https://random.danielpetrica.com/api/random?size=small&4"
          alt="Image 4"
        />
      </div>
      <div class="grid-item">
        <img
          src="https://random.danielpetrica.com/api/random?size=small&5"
          alt="Image 5"
        />
      </div>
      <div class="grid-item">
        <img
          src="https://random.danielpetrica.com/api/random?size=small&6"
          alt="Image 6"
        />
      </div>
      <div class="grid-item">
        <img
          src="https://random.danielpetrica.com/api/random?size=small&7"
          alt="Image 7"
        />
      </div>
      <div class="grid-item">
        <img
          src="https://random.danielpetrica.com/api/random?size=small&8"
          alt="Image 8"
        />
      </div>
      <div class="grid-item">
        <img
          src="https://random.danielpetrica.com/api/random?size=small&9"
          alt="Image 9"
        />
      </div>
    </div>
  </div>
</div>
