#container-app {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  max-width: 70%; /* Ajusta el valor según el espacio que quieras dejar en los lados */
}

#nav-div {

  flex: 0 0 18%; /* Ajusta el valor según el ancho deseado para el nav-div */
}
main {

  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://freight.cargo.site/w/2500/i/69dc7a9326926d36aad3c29a24994c2fe9fbf51c2de556421be7e5b664e48945/R-M_Pattern.png");

}

#right-nav-div {
    flex: 0 0 18%; /* Ajusta el valor según el ancho deseado para el right-nav-div */

  }