@use "../../../../../public/stylesGlobal/colors.scss";

#container {
  display: flex;
  align-items: center;
  background-color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 6px;
  border: 1px solid colors.$contrast-trans-30;
  margin: 2rem 0;
  
}

#publicacion {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.header-publicacion {
  margin: 1rem 1rem;
  
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;

  .profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid colors.$contrast-trans-60;
  }

 
}
.profile-name {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 400;
}
h5 {
  display: flex;
  align-items: center;
  margin: 0;
  font-weight: normal;
  color: rgb(158, 158, 158);
}

.cuerpo-publicacion {
  align-items: center;
  justify-content: center;
  text-align: center;
  p{
      text-align: left;
      font-size: 1.3rem;
      margin: 1rem 2.3rem;

  }

  .post-picture {
    border-radius: 8px;
    width: 90%;
    object-fit: contain;
    border: 1px solid colors.$contrast-trans-30;
  }
}

.valoracion {
  margin-left: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 4px;
  color: #80e200;
  padding-bottom: 0.3rem;
  
  p {
    margin-left: 0.2rem;
    color: #62ae00;
  }
}



.ver-comentarios {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: colors.$dark-accent;
  text-decoration: none;
  cursor: pointer;
  margin-left: auto; 
  margin-right: 2rem;
  font-weight: 500;
  color: #62ae00;
}
