@use "../../../../../public/stylesGlobal/colors.scss";

#container {
  display: flex;
  align-items: center;
  background-color: colors.$white-background;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 6px;
  margin: 2rem 6rem;
  -webkit-box-shadow: 0px 0px 8px 4px rgb(192, 255, 109);
  -moz-box-shadow: 0px 0px 8px 4px rgb(192, 255, 109);
  box-shadow: 0px 0px 8px 4px rgb(192, 255, 109);
}

#publicacion {
  width: 100%;
}

.header-publicacion {
  margin: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
  margin-bottom: 1rem;

  .profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid colors.$tertiary;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(192, 255, 109, 1);
    -moz-box-shadow: 0px 0px 10px 3px rgba(192, 255, 109, 1);
    box-shadow: 0px 0px 10px 3px rgba(192, 255, 109, 1);
  }
}
.profile-name {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 400;
}
h5 {
  display: flex;
  align-items: center;
  margin: 0;
  font-weight: normal;
  color: colors.$secondary-text;
}

.cuerpo-publicacion {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0;
  p {
    text-align: left;
    font-size: 1.3rem;
    margin: 1rem 2.3rem;
    height: 50px;
  }

  .post-picture {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: px solid colors.$normal-text;
  }
}

.valoracion {
  margin-top: 0.7rem;
  margin-left: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 4px;
  color: colors.$light-tertiary;
  padding-bottom: 0.3rem;

  p {
    margin-left: 0.2rem;
    color: colors.$tertiary;
  }
}

.ver-comentarios {
  font-size: 1rem;

  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: colors.$normal-text;
  text-decoration: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: 2rem;
  font-weight: 500;
  color: colors.$tertiary;
}

.div-img {
  display: flex;
  overflow: hidden;
  width: 80%;
  border-radius: 8px;
  height: 400px;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#descripcion {
  max-width: 80%;
  display: flex;
  text-align: left;
  max-width: 80%;
  display: flex;
  text-align: left;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
