@use "../../../../../public/stylesGlobal/colors.scss";

#container {
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 13vw;
  -webkit-box-shadow: 10px 0px 10px 0px rgba(153, 153, 153, 0.9);
  -moz-box-shadow: 10px 0px 10px 0px rgba(153, 153, 153, 0.9);
  box-shadow: 10px 0px 10px 0px rgba(153, 153, 153, 0.9);
}
#fa-icon-user{
  margin-right: 0.5rem;
}

#nombre-app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13vw;
  background-color: #bfff6d;
  text-align: center;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(153, 153, 153, 0.9);
  -moz-box-shadow: 0px 10px 10px 0px rgba(153, 153, 153, 0.9);
  box-shadow: 0px 10px 10px 0px rgba(153, 153, 153, 0.9);
}

#logo-title {
  justify-content: center;
  height: 100px;
  width: 100px;
  margin: 0 0.3rem;
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  font-weight: bolder;
  font-style: italic;
}

#suggestion-container {
  margin: 1rem;
}

.suggestion-card {
  display: flex;
  align-items: center;
  margin: 0.9rem 0;
  background-color: #eaffce;
  padding: 0.7rem;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(153, 153, 153, 0.9);
  -moz-box-shadow: 0px 10px 10px 0px rgba(153, 153, 153, 0.9);
  box-shadow: 0px 10px 10px 0px rgba(153, 153, 153, 0.9);
}

.suggestion-info {
  margin-left: 5px;
}

.suggestion-info h3 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  margin-left: 0.1rem;
}

.actions-container {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
  gap: 1px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

#fa-icon-seguir {
  margin: 0;
  font-size: 1rem;
  color: #007bff;
}

button h3 {
  color: #007bff;
  margin: 0;
  font-weight: 500;
}

.profile-picture {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid #6cb60b;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(192, 255, 109, 1);
  -moz-box-shadow: 0px 0px 10px 3px rgba(192, 255, 109, 1);
  box-shadow: 0px 0px 10px 3px rgba(192, 255, 109, 1);
}

.more-suggestions-container {
  display: flex;
  justify-content: center;
}

.More-Suggestions {
  margin-top: 1rem;
  background-color: #ffffff;
  color: #508904;
  padding: 10px 15px;
  border: 4px solid #bfff6d;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 55px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px 3px rgb(140, 211, 47);
  -moz-box-shadow: 0px 0px 10px 3px rgb(140, 211, 47);
  box-shadow: 0px 0px 10px 3px rgb(140, 211, 47);
}

.More-Suggestions:hover {
  background-color: #bfff6d;
  -webkit-box-shadow: 0px 0px 0px 3px rgb(140, 211, 47);
  -moz-box-shadow: 0px 0px 0px 3px rgb(140, 211, 47);
  box-shadow: 0px 0px 0px 3px rgb(140, 211, 47);
  color: black;
}

// Animaciones para las sugerencias
@keyframes fadeOutRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.suggestion-card.fade-out {
  animation: fadeOutRight 0.5s forwards;
}

.suggestion-card.fade-in-down {
  animation: fadeInDown 0.5s forwards;
  opacity: 1;
}

.suggestion-card.fade-in-up {
  animation: fadeInUp 0.5s forwards;
  opacity: 1;
}

.suggestion-card.initial {
  animation: fadeInDown 0.5s forwards;
  opacity: 1;
}

// SNACKBAR
#toast-fa-icon{
  font-size: 1.5rem;
  color: #bfff6d;
}
#toast {
  visibility: hidden;
  max-width: 550px;
  height: 3rem;
  margin: auto;
  background-color: #fff; 
  color: #000; 
  text-align: center;
  border-radius: 2px;
  border: 2px solid #80c229; 
  -webkit-box-shadow: 0px 0px 20px 6px rgba(192, 255, 109, 1);
  -moz-box-shadow: 0px 0px 20px 6px rgba(192, 255, 109, 1);
  box-shadow: 0px 0px 20px 6px rgba(192, 255, 109, 1);
  
  
  position: fixed;
  z-index: 1;
  top: 30px; 
  right: 30px; 
  font-size: 1rem;
  white-space: nowrap;
}

#toast #img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  float: left;
  padding-top: 16px;
  padding-bottom: 16px;
  box-sizing: border-box;
  background-color: #111;
  color: #fff;
}

#toast #desc {
  font-weight: 500;
  color: #000;
  padding: 16px;
  overflow: hidden;
  white-space: nowrap;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
  animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;} 
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}


@keyframes expand {
  from {min-width: 50px}
  to {min-width: 350px}
}

@-webkit-keyframes stay {
  from {min-width: 350px} 
  to {min-width: 350px}
}

@keyframes stay {
  from {min-width: 350px}
  to {min-width: 350px}
}

@-webkit-keyframes shrink {
  from {min-width: 350px;} 
  to {min-width: 50px;}
}

@keyframes shrink {
  from {min-width: 350px;} 
  to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
  from {top: 30px; opacity: 1;} 
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}
