@use "../../../../../public/stylesGlobal/colors.scss";

#container {
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 13vw;
  -webkit-box-shadow: 10px 0px 10px 0px rgba(153, 153, 153, 0.9);
  -moz-box-shadow: 10px 0px 10px 0px rgba(153, 153, 153, 0.9);
  box-shadow: 10px 0px 10px 0px rgba(153, 153, 153, 0.9);
}

#nombre-app {
  display: flex;
  justify-content: center;

  align-items: center;
  width: 13vw;
  background-color: #bfff6d;
  text-align: center;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(153, 153, 153, 0.9);
  -moz-box-shadow: 0px 10px 10px 0px rgba(153, 153, 153, 0.9);
  box-shadow: 0px 10px 10px 0px rgba(153, 153, 153, 0.9);
}

#logo-title {
  justify-content: center;
  height: 100px;
  width: 100px;
  margin: 0 0.3rem;
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  font-weight: bolder;
  font-style: italic;
}
