$secondary: #bfff6d;
$tertiary: #6cb60b;
$light-tertiary: #80e200;
$quaternary: #549303;
$black-opacity-background: hsla(0, 0%, 0%, 0.641);
$white-background: #ffffff;

$normal-text: #0b1522;
$negative-text: #d6e9ff;
$dark-green-text: #2d5000;

$blue-contrast: #007bff;

$secondary-text: #9e9e9e;

