$secondary: #333333;
$tertiary: #6cb60b;
$light-tertiary: #80e200;
$quaternary: #549303;
$black-opacity-background: hsla(0, 0%, 0%, 0.8);
$white-background: #000000;
$black: #000000;

$normal-text: #ffffff;
$negative-text: #cccccc;
$dark-green-text: #88cc00;

$blue-contrast: #0099ff;

$secondary-text: #666666;

$url-fondo: url("https://decorsafari-images.imgix.net/catalog/product//a/1/a160_black_board_background._a_newspaper_pattern_is_drawn_on_the.jpeg?w=500&h=300&dpr=3");