
$primary: #DAE3E5;
$secondary: #BBD1EA;
$accent: #A1C6EA;
$dark-accent: #507DBC;
$contrast: #04080F;

$normal-text: #0b1522;
$negative-text: #d6e9ff;



$primary-trans-90: #DAE3E5e6;
$secondary-trans-90: #BBD1EAe6;
$accent-trans-90: #A1C6EAe6;
$dark-accent-trans-90: #507DBCe6;
$contrast-trans-90: #04080Fe6;

$primary-trans-80: #DAE3E5CC;
$secondary-trans-80: #BBD1EACC;
$accent-trans-80: #A1C6EACC;
$dark-accent-trans-80: #507DBCCC;
$contrast-trans-70: #04080FCC;

$primary-trans-70: #DAE3E5B3;
$secondary-trans-70: #BBD1EAB3;
$accent-trans-70: #A1C6EAB3;
$dark-accent-trans-70: #507DBCB3;
$contrast-trans-70: #04080FB3;

$primary-trans-60: #DAE3E599;
$secondary-trans-60: #BBD1EA99;
$accent-trans-60: #A1C6EA99;
$dark-accent-trans-60: #507DBC99;
$contrast-trans-60: #04080F99;

$primary-trans-50: #DAE3E580;
$secondary-trans-50: #BBD1EA80;
$accent-trans-50: #A1C6EA80;
$dark-accent-trans-50: #507DBC80;
$contrast-trans-50: #04080F80;

$primary-trans-40: #DAE3E566;
$secondary-trans-40: #BBD1EA66;
$accent-trans-40: #A1C6EA66;
$dark-accent-trans-40: #507DBC66;
$contrast-trans-40: #04080F66;

$primary-trans-30: #DAE3E54D;
$secondary-trans-30: #BBD1EA4D;
$accent-trans-30: #A1C6EA4D;
$dark-accent-trans-30: #507DBC4D;
$contrast-trans-30: #04080F4D;

$primary-trans-20: #DAE3E533;
$secondary-trans-20: #BBD1EA33;
$accent-trans-20: #A1C6EA33;
$dark-accent-trans-20: #507DBC33;
$contrast-trans-20: #04080F33;

$primary-trans-10: #DAE3E51A;
$secondary-trans-10: #BBD1EA1A;
$accent-trans-10: #A1C6EA1A;
$dark-accent-trans-10: #507DBC1A;
$contrast-trans-10: #04080F1A;

$primary-trans-1: #DAE3E503;
$secondary-trans-1: #BBD1EA03;
$accent-trans-1: #A1C6EA03;
$dark-accent-trans-1: #507DBC03;
$contrast-trans-1: #04080F03;